.drawer {
  position: absolute;
  z-index: $z-index-drawer;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: $color-bg;
  transition: $transition-drawer;

  input[type='text'],
  textarea {
    background-color: $color-bg;
    color: $color-text;
  }
}

.js-drawer-open {
  overflow: hidden;
}

.drawer--top {
  width: 100%;

  .js-drawer-open-top & {
    transform: translateY(100%);
    display: block;
  }
}

.drawer-page-content::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-drawer - 1;
  visibility: hidden;
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: $color-drawer-background;
  transition: $transition-drawer;

  .js-drawer-open & {
    visibility: visible;
    opacity: 1;
  }
}

.drawer__title,
.drawer__close {
  display: table-cell;
  vertical-align: middle;
}

.drawer__close-button {
  position: relative;
  right: -15px;
  background: none;
  border: 0 none;
  height: 100%;
  width: 60px;
  padding: 0 20px;
  color: inherit;
  font-size: 18px;

  &:active,
  &:focus {
    background-color: darken($color-drawer-background, 5%);
  }
}
