.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: currentColor;

  .no-svg & {
    display: none;
  }
}

svg,
symbol {
  &.icon:not(.icon--full-color) {
    circle,
    ellipse,
    g,
    line,
    path,
    polygon,
    polyline,
    rect {
      fill: inherit;
      stroke: inherit;
    }
  }
}

// A generic way to visually hide content while
// remaining accessible to screen readers (h5bp.com)
.icon__fallback-text {
  @extend .visually-hidden;

  .no-svg & {
    // sass-lint:disable no-important
    position: static !important;
    overflow: inherit;
    clip: none;
    height: auto;
    width: auto;
    margin: 0;
  }
}

// Payment icons
.payment-icons {
  user-select: none;
  cursor: default;

  @include media-query($small) {
    line-height: 40px;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .icon-shopify_pay {
    width: 75px;
    height: auto;
  }

  .icon-klarna {
    width: 48px;
    height: auto;
  }

  .icon-google_pay {
    width: 50px;
  }
}

// Social icons
.social-icons .icon {
  width: 23px;
  height: 23px;

  @include media-query($medium-up) {
    width: 25px;
    height: 25px;
  }

  &.icon--wide {
    width: 40px;
  }
}
