.pagination {
  text-align: center;
  list-style: none;
  font-size: 15px;
  padding-top: $section-spacing;

  li {
    display: inline-block;
  }

  .icon {
    display: block;
    height: 20px;
    vertical-align: middle;
  }
}

.pagination__text {
  padding: 0 ($gutter-site / 2);
}
