.password__input-group {
  margin: 0 auto $gutter-site;
  max-width: 22rem;
}

.password__title {
  display: block;
  margin-bottom: $gutter-site * 1.5;
}

.password__form-heading {
  margin-bottom: $gutter-site;

  .password__form-subheading {
    margin-top: -25px;
  }
}
