.search-bar__form {
  position: relative;
  display: table;
  width: 100%;
  height: calc(46em / 16);
  border: 1px solid transparent;
}

@include media-query($small) {
  .search-bar__form {
    width: 100%;
  }
}

.search-bar__submit .icon {
  position: relative;
  top: -1px;
  width: 1.2rem;
  height: auto;
}

.search-bar__submit,
.search-header__submit {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  padding: 0 12px;
  height: 100%;
}

.search-header__input,
.search-bar__input {
  background-color: transparent;
  border-radius: $border-radius;
  color: $color-text;
  border-color: transparent;
  padding-right: calc(35em / 16);
  width: 100%;
  min-height: 44px;

  &::placeholder {
    @include placeholder-text($color-text);
  }
}

.search-bar__input {
  border: 1px solid transparent;

  &:focus {
    border-color: transparent;
  }
}

.search-bar__close {
  padding: calc(10em / 16) .75em;

  .icon {
    vertical-align: top;
    width: 1.2rem;
    height: auto;
  }
}

// Mobile Search Bar

.search-bar {
  z-index: 1000;
  border-bottom: 1px solid $color-border;
  padding: 0 ($gutter-site / 2);
}

.search-bar__table {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

.search-bar__table-cell {
  display: table-cell;
  vertical-align: middle;
}

.search-bar__form-wrapper {
  width: 90%;
}
