html {
  font-size: 62.5%;
}

body {
  font-family: $font-stack-body;
  font-weight: $font-weight-body;
  font-style: $font-style-body;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack-header;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

a:focus {
  color: inherit;
}
