b,
strong {
  font-weight: $font-weight-body--bold;
}

em {
  font-style: italic;
}

blockquote {
  font-size: 1.125em;
  font-style: normal;
  text-align: center;
  padding: 0 30px;
  margin: 0;

  .rte & {
    border-color: $color-border;
    border-width: 1px 0;
    border-style: solid;
    padding: 30px 0;
    margin-bottom: $gutter-site / 2;
  }

  p + cite {
    margin-top: $gutter-site / 2;
  }

  cite {
    display: block;
    font-size: 0.85em;
    font-weight: $font-weight-body;

    &::before {
      content: '\2014 \0020';
    }
  }
}

code,
pre {
  font-family: Consolas, monospace;
  font-size: 1em;
}

pre {
  overflow: auto;
}

body,
input,
textarea,
button,
select {
  font-size: $font-size-base;
  font-family: $font-stack-body;
  font-style: $font-style-body;
  font-weight: $font-weight-body;
  color: $color-text;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

// Prevent zoom on touch devices in active inputs
@include media-query($medium-down) {
  input,
  textarea,
  select,
  button {
    font-size: $font-size-mobile-input;
  }
}

/*================ Headings ================*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 ($section-spacing-small / 2);
  font-family: $font-stack-header;
  font-style: $font-style-header;
  font-weight: $font-weight-header;
  line-height: 1.2;
  overflow-wrap: break-word;
  word-wrap: break-word;

  a {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
  }
}

h1 {
  font-size: calc(#{$font-size-header} * 1.35);
  text-transform: none;
  letter-spacing: 0;

  @include media-query($small) {
    font-size: calc(#{$font-size-header} * 1.25);
  }
}

h2 {
  font-size: calc(#{$font-size-header} * 0.78);
  text-transform: uppercase;
  letter-spacing: 0.1em;

  @include media-query($small) {
    font-size: calc(#{$font-size-header} * 0.78 * 0.9);
  }
}

h3 {
  font-size: calc(#{$font-size-header});
  text-transform: none;
  letter-spacing: 0;

  @include media-query($small) {
    font-size: calc(#{$font-size-header} * 0.78);
  }
}

h4 {
  font-size: calc(#{$font-size-header} * 0.68);

  @include media-query($small) {
    font-size: calc(#{$font-size-header} * 0.68 * 0.9);
  }
}

h5 {
  font-size: calc(#{$font-size-header} * 0.58);

  @include media-query($small) {
    font-size: calc(#{$font-size-header} * 0.58 * 0.9);
  }
}

h6 {
  font-size: calc(#{$font-size-header} * 0.54);

  @include media-query($small) {
    font-size: calc(#{$font-size-header} * 0.54 * 0.9);
  }
}

.h1 {
  @extend h1;
}

.h2 {
  @extend h2;
}

.h3 {
  @extend h3;
}

.h4 {
  @extend h4;
}

.h5 {
  @extend h5;
}

.h6 {
  @extend h6;
}

a {
  color: $color-text;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-text-focus;
  }

  &.classic-link {
    text-decoration: underline;
  }
}

a[href^="tel"] {
  color: inherit;
}
